.base {
  width: 100%;
  height: 45px;
  background-color: #5dbcb3;
}
.container {
  display: flex;
  padding-top: 15px;
}
.dropdownHolder {
  display: flex;
  margin-left: 50px;
}
.selectContainer {
  width: 200px;
}
.textHolder {
  padding-left: 20px;
  font-weight: 600;
  color: #fff;
}
.label {
  font-size: 13px;
  padding-top: 2px;
  margin-right: 10px;
}
select {
  background-color: #fff;
}
